.app-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}
header {
padding-left: 5%;  
text-align: center;
font-size: 40px;
}
header h2{
  font-size: 35px;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.input-dashboard,
.output-dashboard {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border: 3px solid #ccc;
  background-color: #f9f9f9;
}

.output-dashboard {
  border-color: #6c757d;
  background-color: #e2e3e5;
}

.input-dashboard {
  border-color: #007bff;
  background-color: #cce7ff;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  color: #555;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

form label {
  font-weight: bold;
  margin-bottom: 2px;
  display: block;
}

form input,
form select {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
} 

/* עיצוב כללי של גוף הקומפוננטה */
.app-container {
  display: grid;
  height: 100vh; /* גובה מלא של המסך */
  grid-template-rows: 50% 50%; /* חצי עליון וחצי תחתון */
}

/* החלק העליון - אזור הקלט והפלט */
.dashboard-container {
  display: flex; /* הצגת קלט ופלט זה לצד זה */
  padding: 10px;
  background-color: #f8f8f8;
  border-bottom: 2px solid #ddd;
}

/* תיבת הקלט */
.input-dashboard {
  flex: 1; /* תופס חצי מהחלק העליון */
  margin: 1px;
  background-color: #e0f7fa;
  padding: 5px;
  box-sizing: border-box;
  overflow-y: auto; /* הוספת גלילה */
}

/* תיבת הפלט */
.output-dashboard {
  flex: 1; /* תופס חצי מהחלק העליון */
  margin: 5px;
  background-color: #ffe0b2;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto; /* הוספת גלילה */
}

/* החלק התחתון - גרף */
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;
  width: 1300px;

  /* background-color: #f0f4c3; */
}
.custom-tooltip {
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  font-size: 10px; /* מקטין את הגודל של ה-tooltip */
}

.graph-title {
  margin-bottom: 10px; /* רווח קטן בין הכותרת לגרף */
  text-align: center;  /* מיקוד הכותרת למרכז */
}
