.app-container {
  text-align: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

header {
  margin-bottom: 20px;
}

.dashboard-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.input-dashboard,
.output-dashboard {
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  border: 3px solid #ccc;
  background-color: #f9f9f9;
}

.output-dashboard {
  border-color: #6c757d;
  background-color: #e2e3e5;
}

.input-dashboard {
  border-color: #007bff;
  background-color: #cce7ff;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.5em;
  color: #555;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

form label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

form input,
form select {
  width: calc(100% - 20px);
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}
