.input-dashboard {
  padding: 2px; /* Reduce padding */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem; /* Slightly smaller font size */
}

.task-input {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 1.2rem; /* Reduce title size */
}

form {
  display: flex;
  flex-direction: column;
  gap: 6px; /* Reduce the spacing between form elements */
}

.priority-selection {
  margin: 1px 0; /* Reduce margin */
}

.priority-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 5px; /* Reduced spacing */
}

.priority-button {
  flex: 1;
  padding: 5px; /* Reduced padding */
  margin: 3px; /* Less margin between buttons */
  border: none;
  border-radius: 5px;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  min-width: 60px; /* Slightly smaller minimum width */
  font-size: 0.8rem; /* Smaller text */
}

.priority-button.selected {
  background-color: #007bff;
  color: white;
}

.priority-button:hover:not(.selected) {
  background-color: #d5d5d5;
}

label {
  display: flex;
  justify-content: space-between; /* Align label and input side by side */
  align-items: center; /* Center align */
  font-size: 0.85rem; /* Smaller label text */
}

input,
select {
  padding: 1px; /* Reduced padding in inputs */
  font-size: 0.85rem; /* Smaller input text */
}

button[type="submit"] {
  padding: 6px 12px; /* Smaller button */
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
