.task-running {
    color: blue;
  }
  
  .task-suspended {
    color: yellow;
  }
  
  .task-terminated {
    color: red;
  }
  
  .task-completed {
    color: green;
  }
  .status-terminate {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
  
  .status-suspended {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
  }
  
  .status-completed {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }
  
  .output-dashboard li {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  